#activate{
  color: red;
}
body{
  margin:0;
}
h1{
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 20px;
  margin: 0;
}
ul{
  border-right: 1px solid gray;
  width: 120px;
  margin: 0;
  padding: 20px;
}
#grid{
     display: grid;
     grid-template-columns: 150px 1fr;}
#grid ul{
  padding-left: 33px;
}
#grid #article{
  padding-left: 40px;
}
